@font-face {
    font-family: 'Laila';
    src: url(../Font/Laila-Regular.ttf);
}

@font-face {
    font-family: 'Griffy';
    src: url(../Font/Griffy-Regular.ttf);
}

@font-face {
    font-family: 'Craie';
    src: url(../Font/Monster\ Unleashed.ttf);
}

body {
    margin: 0
}

/* Header section */
header {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #000000;

    height: 7.5em;

    font-family: 'Laila';
    font-weight: 700;
}

header a {
    font-size: 36px;
}

header img {
    margin-left: 5%;
}

nav {
    margin-left: 30%;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: 150%;
    list-style: none;
}
/* End Header section */

/* Start Phare product section */
#phare_product {
    background-image: url(../IMG/joe-woods-4Zaq5xY5M_c-unsplash.jpg);
}

h2 {
    font-family: 'Griffy';
    font-weight: 400;
    font-size: 80px;
    color: #D6614A;
    text-align: center;

    margin: 0;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containImages {
    width: 100%
}

.images {
    width: 100%;
}

/* Gourmet coffee section */
.gourmet_pastries {
    display: flex;
    justify-content: space-between;
}

.menuText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.vintageArrow {
    width: 100%;
    height: 13%;
}

.phareProductText {
    font-family: 'Laila';
    font-weight: 400;
    font-size: 50px;
    line-height: 115%;
    text-align: center;

    margin-top: 0;
}

.list {
    list-style: inside;
    margin-bottom: 2%;
}
/* End Gourmet coffee section */

/* Start Pancakes section */
#pancakes {
    display: flex;
    justify-content: flex-start;
}
/* End Pancakes section */

/* Start Sweet Pastries section */
.bottom {
    margin-bottom: 2%;
}
/* End Sweet Pastries section */

/* End Phare product section */

/* Start Menu section */
#menu {
    background-image: url(../IMG/Menu/grain\ caffé.png);
    background-size: 100%, cover;

    display: flex;
    justify-content: space-around;

    height: 130dvh;
}

#ardoise1,
#ardoise2 {
    background-image: url(../IMG/Menu/Blackboard.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Craie';
    color: white;
    font-size: 24px;

    width: 50%;
    height: 81.15%;

    margin-top: 10%;
}

h3 {
    font-weight: initial;
    text-align: center;
    margin: 0;
    font-size: 1.938rem;
}

.top {
    margin-top: 15%;
}

/* Start Ardoise 1 */
.containDrinks {
    display: flex;
    justify-content: space-around;

    line-height: 200%;
}

.containDrinks p {
    margin-top: 0;
    margin-bottom: 32%;
}

.coffeeOther {
    width: 20%;
}

.TeaPrice {
    width: 12%;
}
/* End Ardoise 1 */

/* Start Ardoise 2*/
.cakes2 {
    width: 40%;
}

.cakes {
    display: flex;
    justify-content: space-evenly;
    gap: 30%;
}

.cakes p {
    width: 20%;
    line-height: 150%
}

.containCakes {
    display: flex;
    justify-content: center;
}

#birthday {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#birthdayTitle {
    margin-top: 5%;
    margin-bottom: 2%;
}

#birthday p {
    margin-top: 0;
    line-height: 100%
}
/* End Ardoise 2*/

/* End Menu section */

@media screen and (max-width: 1400px) {

    nav {
        margin-left: 20%;
    }

    .phareProductText {
        font-size: 40px;
    }

    .cakes {
        gap: 50%;
    }

    #birthdayTitle {
        margin-bottom: 5%;
    }

}

@media screen and (max-width: 1200px) {

    nav {
        margin-left: 10%;
    }

    #menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: auto;

        background-size: cover;
        background-repeat: no-repeat;
    }

    #ardoise1,
    #ardoise2 {
        width: 70%;
        height: auto;
    }

}