@font-face {
    font-family: 'Gabriela';
    src: url(../FONT/Gabriela-Regular.ttf);
}

:root {
    /* Charte graphique */
    --orng: rgb(214, 97, 74);
    --orngopct: rgb(214, 97, 74, 0.6);
    --blmrn: rgb(42, 51, 116);
    --blmrnopct: rgb(42, 51, 116, 0.7);

    /* Style police */
    --fntgab: 'Gabriela';
}

* {
    margin: 0;
    padding: 0;
}

.secspecial {
    background-image: url(../IMG/Background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fntgab);
    padding: 100px 0;
}

h2 {
    font-size: 4em;
    color: var(--orng);
    text-decoration: underline;
}

.innerspecial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

.innerspecial>p {
    font-size: 2.25em;
    color: var(--blmrn);
    text-align: center;
    width: 25%;
}

.innerspecial>img {
    /* Temporaire, emplacement Carousel JS */
    border: 1px solid white;
    /* 1px histoire de noter qu'il faudra une border, mais mon image en a déjà une par défaut */
    border-radius: 50%;
    width: 25%;
}

.cta {
    display: inline-block;
    background-color: var(--orng);
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    outline: none;
    border-radius: 60px;
    padding: 20px 30px;
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, .50);
}

.cta:hover {
    text-decoration: underline;
    border: 3px solid white;
    margin-top: -6px;
    /* Évite l'agrandissement de la page, 2*3px border */
}

.cta:active {
    box-shadow: none;
    transform: translate(4px);
}

.secmuseum {
    position: relative;
    background-image: url(../IMG/Background-alt.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--fntgab);
    color: white;
    padding: 100px 0;
}

.leftmuseum {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--orngopct);
    font-size: 2.25em;
    text-align: center;
}

.leftmuseum>p {
    margin: 0 50px;
}

.rightmuseum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ICI LA SUITE */
.rightmuseum>a {
    width: 100%;
}

.rightmuseum>a>img {
    width: 50%;
    border: 5px solid white;
    border-radius: 15px;
    margin: 0 50px 0 calc(25% + 50px);
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 1);
}

.seccontact {
    background-image: url(../IMG/Background.jpg);
    background-size: cover;
    padding: 100px 0 75px 0;
}

.innercontact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin: 75px 10%;
}

iframe {
    border: 5px solid var(--orng);
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, .50);
    width: 45%;
    height: 512px;
    border-radius: 5px;
    /* Pas moyen de modifier la hauteur autrement... ? */
}

iframe:hover {
    border: 5px solid white;
}

.innercontact>div>form>p {
    font-family: var(--fntleila2);
    font-size: 1.75em;
    text-align: center;
}

.form {
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: var(--blmrnopct);
    font-family: var(--fntleila1);
    font-size: 1.5em;
    color: white;
    border: 3px solid var(--orngopct);
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    padding: 10px;
}

input:focus,
textarea:focus {
    border: 3px solid white;
}

textarea {
    resize: none;
}

::placeholder {
    font-family: var(--fntleila1);
    color: white;
    opacity: 0.8;
}

button {
    display: block;
    width: 35%;
    height: 2em;
    background-color: var(--orng);
    font-family: var(--fntleila1);
    font-size: 1.5em;
    color: white;
    border-radius: 15px;
    border-style: none;
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, .50);
    margin: 20px auto;
}


button:hover {
    border: 3px solid white;
}

.cta:active,
button:active {
    box-shadow: none;
    transform: translate(4px);
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--blmrn);
}

footer>img {
    margin: auto 4%;
}

footer>a {
    margin: auto 2%;
}

/* .socialmedia {}

#insta,
#tiktok,
#twit,
#fb {

} */

@media screen and (max-width: 1280px) {

    h2 {
        font-size: 3em;
    }

    .innerspecial {
        flex-direction: column;
        gap: 50px;
    }

    .innerspecial>p {
        font-size: 1.5em;
        width: 50%;
    }

    .innerspecial>img {
        width: 40%;
    }

}

@media screen and (max-width: 767px) {

    h2 {
        font-size: 2em;
    }
    
    .innerspecial>p {
        font-size: 1em;
    }
}