@font-face {
    font-family: 'Gabriela';
    src: url(../FONT/Gabriela-Regular.ttf);
}

:root {
    /* Charte graphique */
    --orng: rgb(214, 97, 74);
    --orngopct: rgb(214, 97, 74, 0.6);
    --blmrn: rgb(42, 51, 116);
    --blmrnopct: rgb(42, 51, 116, 0.7);

    /* Style police */
    --fntgab: 'Gabriela';
}

* {
    margin: 0;
    padding: 0;
}

.secspecial {
    background-image: url(../IMG/Background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fntgab);
    padding: 90px 0;
}

.title {
    font-size: 4em;
    color: var(--orng);
    text-decoration: underline;
}

.innerspecial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

.innerspecial>p {
    font-size: 2em;
    color: var(--blmrn);
    text-align: center;
    width: 25%;
}

.innerspecial>img {
    /* Temporaire, emplacement Carousel JS */
    border: 3px solid white;
    border-radius: 50%;
    width: 25%;
}

.cta {
    display: inline-block;
    background-color: var(--orng);
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    outline: none;
    border-radius: 60px;
    padding: 20px 30px;
    box-shadow: 10px 10px 2px 0 rgba(0, 0, 0, .5);
}

.cta:hover {
    border: 3px solid white;
    padding: 17px 27px;
    /* Évite l'agrandissement de la page, 2*3px border */
}

.secmuseum {
    position: relative;
    background-image: url(../IMG/Background-alt.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--fntgab);
    color: white;
    padding: 90px 0;
}

.leftmuseum {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--orngopct);    
}

.leftmuseum>p {
    font-size: 2em;
    text-align: center;
    margin: 0 50px;
}

.rightmuseum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.rightmuseum>a,
.rightmuseum>img {
    width: 50%;
    margin-left: calc(25% - 6px);
}

.rightmuseum>a>img {
    width: 100%;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
}

.rightmuseum>img {
    /* Image discount */
    width: 33%;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.5));
}
.seccontact {
    background-image: url(../IMG/Background.jpg);
    background-size: cover;
    font-family: var(--fntgab);
    text-align: center;
    padding: 80px 0;
}

.innercontact {
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 50px 10% 0 10%;
}

iframe {
    border: 3px solid var(--orng);
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, .50);
    width: 50%;
    height: 600px;
    border-radius: 5px;
}

iframe:hover {
    border: 3px solid white;
}

.innercontact>form>span {
    font-size: 2em;
    text-align: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: var(--blmrnopct);
    font-family: var(--fntgab);
    font-size: 1.5em;
    color: white;
    border: 3px solid var(--orng);
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
    padding: 20px;
}

input:focus,
textarea:focus {
    border: 3px solid white;
}

textarea {
    resize: none;
}

::placeholder {
    opacity: 0.5;
}

.submit {
    background-color: var(--orng);
    font-size: 1.5em;
    color: white;
    border-radius: 60px;
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, .50);
    margin: 20px auto;
    padding: 20px 30px;
}


.submit:hover {
    border: 3px solid white;
    padding: 20px 30px;
}

.cta:active,
.submit:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

/* REPRENDRE ICI */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--blmrn);
}

footer>img {
    margin: auto 4%;
}

footer>a {
    margin: auto 2%;
}

/* .socialmedia {}

#insta,
#tiktok,
#twit,
#fb {

} */

@media screen and (max-width: 1280px) {

    .title {
        font-size: 3em;
    }

    .innerspecial {
        flex-direction: column;
        gap: 50px;
    }

    .innerspecial>p {
        width: 50%;
    }
    
    .innerspecial>p,
    .leftmuseum>p,
    .innercontact>form>span {
        font-size: 1.5em;
    }

    .innerspecial>img {
        width: 25%;
    }

    .cta,
    .submit {
        font-size: 1.875em;
    }

    .rightmuseum>img {
        width: 50%;
    }

    .innercontact {
        flex-direction: column;
        gap: 50px;
    }

    iframe {
        width: 80%;
        height: 500px;
    }

    form {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        font-size: 1.375em;
    }

    ::placeholder {
        font-size: 0.75em;
    }

}

@media screen and (max-width: 1024px) {

    .title {
        font-size: 2.5em;
    }

    .innerspecial>p,
    .leftmuseum>p,
    .innercontact>form>span {
        font-size: 1.25em;
    }

    .cta,
    .submit {
        font-size: 1.5625em;
    }

    .leftmuseum>p {
        margin: 0 25px;
    }
    
    iframe {
        height: 400px;
    }

}

@media screen and (max-width: 768px) {

    .title {
        font-size: 2em;
    }
    
    .innerspecial>p,
    .leftmuseum>p,
    .innercontact>form>span {
        font-size: 1em;
    }

    .cta,
    .submit {
        font-size: 1.25em;
    }

    .leftmuseum>p {
        margin: 0 12.5px;
    }

    iframe {
        height: 300px;
    }

}